.footerCopyRights {
    background-color: #787878;
    font-size: .9rem;
}

footer {
    background-color: #E6E6E6;
    font-size: .9rem;
}

footer a {
    color: #666;
}

.footerLinks {
    border-top: 1px solid #666;
}

.footerLinks a {
    margin: 0 15px;
    text-decoration: none;
    font-size: medium;
}

.footerLinks a:hover {
    color: #165D3D;
    font-weight: 600;
}

@media (max-width: 991px) {
    .footerLinks li {
        padding: 5px 0
    }
}